In [1]:
# Import dependencies
import pandas as pd
import numpy as np

# Load the dataset 
url = r"D:\git_project\mpi\data\titanic\train.csv"
df = pd.read_csv(url)
include = ['Age', 'Sex', 'Embarked', 'Survived']

# Only four features
df_ = df[include]

In [2]:
df_.head()

    Age     Sex Embarked  Survived
0  22.0    male        S         0
1  38.0  female        C         1
2  26.0  female        S         1
3  35.0  female        S         1
4  35.0    male        S         0

In [3]:
categoricals = []
for col, col_type in df_.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)
     else:
          df_[col].fillna(0, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [4]:
df_ohe = pd.get_dummies(df_, 
                        columns=categoricals, 
                        dummy_na=True)

In [5]:
df_ohe.head()

,Age,Survived,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,0,0,1,0,0,0,1,0
1,38.0,1,1,0,0,1,0,0,0
2,26.0,1,1,0,0,0,0,1,0
3,35.0,1,1,0,0,0,0,1,0
4,35.0,0,0,1,0,0,0,1,0

In [7]:
from sklearn.linear_model import LogisticRegression

x = df_ohe[df_ohe.columns.difference(['Survived'])]
y = df_ohe['Survived']
lr = LogisticRegression(solver='liblinear')
lr.fit(x, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
import joblib

joblib.dump(lr, 'model.pkl')

['model.pkl']

In [10]:
# Import dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import joblib

# Load the dataset in a dataframe
url = r"D:\git_project\mpi\data\titanic\train.csv"
df = pd.read_csv(url)
# Only four features
include = ['Age', 'Sex', 'Embarked', 'Survived']
df_ = df[include]
# Data Preprocessing
categoricals = []
for col, col_type in df_.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)
     else:
          df_[col].fillna(0, inplace=True)
df_ohe = pd.get_dummies(df_, columns=categoricals, dummy_na=True)

# Logistic Regression classifier
x = df_ohe[df_ohe.columns.difference(['Survived'])]
y = df_ohe['Survived']
lr = LogisticRegression(solver="liblinear")
lr.fit(x, y)

# Save your model
joblib.dump(lr, 'model.pkl')
print("Model dumped!")
# Load the model that you just saved
lr = joblib.load('model.pkl')
# Saving the data columns from training
model_columns = list(x.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Model dumped!
Models columns dumped!

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [11]:
a = [
    {"Age": 85, "Sex": "male", "Embarked": "S"},
    {"Age": 24, "Sex": '"female"', "Embarked": "C"},
    {"Age": 3, "Sex": "male", "Embarked": "C"},
    {"Age": 21, "Sex": "male", "Embarked": "S"}
]
b = pd.DataFrame(a)

In [12]:
b

   Age       Sex Embarked
0   85      male        S
1   24  "female"        C
2    3      male        C
3   21      male        S

In [1]:
import json
import firehole as fh

In [2]:
model = {
  "name": "Wikipedia Leader Selection",
  "method": "eigenvalue",
  "criteria": ["experience", "education", "charisma", "age"],
  "subCriteria": {},
  "alternatives": ["Tom", "Dick", "Harry"],
  "preferenceMatrices": {
    "criteria": [
      [1, 4, 3, 7],
      [0.25, 1, 0.3333, 3],
      [0.3333, 3, 1, 5],
      [0.1428, 0.333, 0.2, 1]
    ],
    "alternatives:experience": [
      [1, 0.25, 4],
      [4, 1, 9],
      [0.25, 0.1111, 1]
    ],
    "alternatives:education": [
      [1, 3, 0.2],
      [0.3333, 1, 0.1428],
      [5, 7, 1]
    ],
    "alternatives:charisma": [
      [1, 5, 9],
      [0.2, 1, 4],
      [0.1111, 0.25, 1]
    ],
    "alternatives:age": [
      [1, 0.3333, 5],
      [3, 1, 9],
      [0.2, 0.1111, 1]
    ]
  }
}

In [3]:
ahp_model = fh.parse(model)
priorities = ahp_model.get_priorities()

In [4]:
priorities

array([0.358, 0.493, 0.149])

In [5]:
import firehole as fh
keyword_processor = fh.KeywordProcessor()
keyword_processor.add_keyword('口号')
keyword_processor.add_keyword('横幅')
keywords_found = keyword_processor.extract_keywords('他边喊口号边走近了那个建筑，并拉起了横幅。')
keywords_found

['口号', '横幅']

In [6]:
import firehole as fh
import jieba
corpus = ["他手执横幅走了进来", 
          "他走了进来", 
          "横幅上写着很多的字"]
tokenized_corpus = [jieba.lcut(doc, cut_all=False, HMM=True) for doc in corpus]
bm25 = fh.BM25Okapi(tokenized_corpus)
query = "他有一个横幅"
tokenized_query = jieba.lcut(query, cut_all=False, HMM=True)
doc_scores = bm25.get_scores(tokenized_query)
print(doc_scores)

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\IAO\AppData\Local\Temp\jieba.cache
Loading model cost 0.696 seconds.
Prefix dict has been built successfully.

[0.04147104 0.02453117 0.01924653]